<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamascode.smallcloud.mybatis.mapper.FileUploadMapper">

	<!-- ********************************************************************************* -->
	<!-- ********************************************************************************* -->
	
	<insert id="insertArticleUpload" parameterType="ArticleUpload">
		INSERT INTO article_upload (article_id, file_name) VALUES (#{articleId}, #{fileName}) 
	</insert>
	
	<delete id="deleteArticleUpload" parameterType="Integer">
		DELETE FROM article_upload WHERE uploadId = #{uploadId}
	</delete>
	
	<delete id="deleteArticleUploadByArticleId" parameterType="Integer">
		DELETE FROM article_upload WHERE article_id = #{articleId}
	</delete>
	
	<select id="selectArticleUploadCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM article_upload WHERE article_id = #{articleId}
	</select>
	
	<select id="selectArtocleUploadList" parameterType="Integer" resultMap="articleUploadMap">
		SELECT upload_id, article_id, file_name FROM article_upload WHERE article_id = #{articleId}
	</select>
	
	<select id="selectLastInsertUploadId" resultType="Integer">
		SELECT LAST_INSERT_ID()
	</select>
	
	<!-- ********************************************************************************* -->
	<!-- ********************************************************************************* -->
	
	<resultMap id="articleUploadMap" type="ArticleUpload">
		<id column="upload_id" jdbcType="INTEGER" property="uploadId" />
		<result column="article_id" jdbcType="INTEGER" property="articleId" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
	</resultMap>
</mapper>